body {
    display: flex;
    justify-content: center;
    user-select: none;
}
main{
    width: 80%;
}

h1{
    line-height: 1.5em;
    padding: 1em 0;
}
button{
    width: 15em;
    margin: 1em 0;
}
.tablewindow {
    display: none;
    flex-direction: row;
}
.tablewindow .table {
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
    min-width: 70%;
}
.editor{
    display: flex;
    flex-direction: column;
    flex-shrink: 2;
    margin-left: 3em;
}
.table button{
    width: auto;
    margin: 0;
    padding: 0.5em;
    background-color: #080707;
}
#updateCustomer, #updateBooking, #updatePoolTable{
    margin-top: 2em;
    display: none;
    flex-direction:column;
}
td, th, label, select, input, ol{
    font-family: Arial, sans-serif;
}
button{
    font-family: 'Segoe UI';
}
#bokingsHeader{
    display: flex;
    align-content: center;
    background-color: #ffffff20;
    border-radius: 20px;
    padding: 1em;
    margin-bottom: 2em;
}
#datePicker{
    width: 50%;
    margin-right: 2em;
}
#stats input{
    height: 2em;
}
#frequenters {
    margin: 0 2em;
}
#frequentersList{
    margin-top: 2em;
    list-style-type: none;
}
#frequentersList li {
    margin: 1em 0;
}