body {
    display: flex;
    justify-content: center;
    user-select: none;
}
main{
    width: 80%;
}

h1{
    line-height: 1.5em;
    padding: 1em 0;
}
button{
    width: 15em;
    margin: 1em 0;
}
.tablewindow {
    display: none;
    flex-direction: row;
}
.tablewindow .table {
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
    min-width: 70%;
}
.editor{
    display: flex;
    flex-direction: column;
    flex-shrink: 2;
    margin: 1em;
}
.table button{
    width: auto;
    margin: 0;
    padding: 0.5em;
    background-color: #080707;
}
#updateCustomer, #updateBooking, #updatePoolTable{
    display: none;
    flex-direction:column;
}
td, label, select, input{
    font-family: Arial, sans-serif;
}
button{
    font-family: 'Segoe UI';
}