body {
    display: flex;
    justify-content: center;
}
main{
    width: 80%;
}

h1{
    line-height: 1.5em;
    padding: 1em 0;
}
button{
    width: 15em;
    margin: 1em 0;
}
.tablewindow {
    display: none;
    flex-direction: row;
}
.tablewindow .table {
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
    min-width: 70%;
}
.editor{
    display: flex;
    flex-direction: column;
    flex-shrink: 2;
    margin: 1em;
}